.url{
    display: flex;
    border-top: 0.5px solid #ddd;
    min-height: 60px;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 40px;
    .url_left{
        margin-top: 20px;
        span{
            font-size: 15px;
        }
    }
    .url_right{
        margin-top: 20px;
        button{
            width: 100px;
            border: none;
            background: #1890ff;;
            color: #ffff;
            height: 35px;
            border-radius: 2px;
        }
    }
}

.table{
    margin-top: 40px;
    background-color: #fff;
}